parameters:
    level: max
    paths:
        - src
        - tests

    checkMissingIterableValueType: true
    checkGenericClassInNonGenericObjectType: true
    excludePaths:
        analyseAndScan:
            - tests/bootstrap.php
    symfony:
        container_xml_path: var/cache/dev/App_KernelDevDebugContainer.xml
