parameters:
    level: max
    paths:
        - src
        - tests
        - config
        - public

    checkMissingIterableValueType: true
    checkGenericClassInNonGenericObjectType: true
    excludePaths:
        analyseAndScan:
            - src/Serializer/Normalizer/CityWeatherForecastDayNormalizer
    symfony:
        container_xml_path: var/cache/dev/App_KernelDevDebugContainer.xml